.docker/
.git/
.idea/
tests/
vendor/
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/*.cache

.dockerignore
.editorconfig
.env
.env.example
.env.pipeline
.gitattributes
.gitignore
.phpunit.result.cache
.styleci.yml
bitbucket-pipelines.yml
docker-compose.yml
Envoy.blade.php
init-docker.sh
Makefile
phpstan.neon
phpunit.xml
README.md
ruleset.xml
webpack.mix.js
*.log
