/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database/snapshots/*

.docker/.env
.version
.env
.env.backup
.env.testing
.env.documentation
.env.production
.keys.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/api-docs/api-docs.json
/storage/tests/api-docs/api-docs.json

/public/docs
/resources/docs

/public/mix-manifest.json

/public/cmf/js
/public/cmf/js/!gitkeep
/public/cmf/css
/public/cmf/css/!gitkeep
/public/cmf/mix-manifest.json
/public/cmf/images
/public/cmf/images/!gitkeep
/public/cmf/fonts
/public/cmf/fonts/!gitkeep

.idea/*
