
.list-group-show-sm {
    //margin-top: 5px;

    .list-group-item {
        padding: 5px 15px;
        margin-left: -15px;
        margin-right: -15px;
        border-left: none;
        border-right: none;
        border-color: #eee;
    }
}
