.text-limit-counter {
    text-align: right;
    margin-right: 5px;
    font-size: 12px;
    color: #818a91;
    margin-bottom: -1rem;
    .current {
        margin-right: 2px;
    }
    .limit {
        margin-left: 2px;
    }
}
